# Computer Infrastructure - Tasks Report
##### Author: E. Qejvani

This notebook holds the steps taken to complete the tasks in Computer Infrastructure module - ATU 2024
***

#### Task 1:  Create Directory Structure.

<em>Using the command line, create a directory (that is, a folder) named data at the root of your repository. Inside data, create two subdirectories: timestamps and weather.</em>
***

##### Steps Taken to Complete the Task:

1. Logged into my GitHub account.
2. Started Codespaces on GitHub.
3. Created two directories within the data parent directory using the following commands:
    - `mkdir -p data/weather`
        (The -p flag ensures the data directory is created as a parent, with weather nested inside it).
    - `mkdir data/timestamps`
        (This command creates the timestamps directory within the data directory).

<img src="./img/task1.png" alt="Task 1">

##### Commands Used to Complete the Task:

- ```mkdir```: it stands for "make directory" and helps the user organize files by creating folders/directories. The ```mkdir``` command can create multiple directories in the same time and also can set permissions to this directories. There are different options you can use with this command. For this task I used ```-p``` option to create the directory as a parent directory, meaning that the directory created can hold other directories inside. More options with examples in the following document: [```mkdir``` command](https://www.geeksforgeeks.org/mkdir-command-in-linux-with-examples/). 

##### Notes on Completing the Task
* I referred to the Week 5 video lessons by Ian McLoughlin to guide me through the process.
* It made sure I was in the root of my account within Codespaces to create the directories in the correct location.
* I practiced creating and deleting the directories multiple times to familiarize myself with saving changes to my GitHub account.

***
#### Task 2: Timestamps.

<em>Navigate to the data/timestamps directory. Use the date command to output the current date and time, appending the output to a file named now.txt. Make sure to use the >> operator to append (not overwrite) the file. Repeat this step ten times, then use the more command to verify that now.txt has the expected content.</em>
***
**Steps Taken to Complete the Task:**

1. Logged into my GitHub account.
2. Started Codespaces.
3. Navigated to the data/timestamps directory.
4. Practiced displaying the year using the following command: `date +"%Y"`
    * (This command outputs the current year. See task2.png for reference).
5. Practiced displaying the full date and time in the format YYYY/MM/DD HH:MM:SS using: `date +"%Y/%m/%d %H:%M:%S"`
6. Ran the same command again but redirected the output to a file named now.txt: `date +"%Y/%m/%d %H:%M:%S" > now.txt`
7. I used the >> operator to run the command 9 more times (10 total as required), appending each output to the now.txt file.
8. Next I used `the more now.txt` command to display the contents of the file to check the command was working as it should(See image attached).

<img src="./img/task2.png" alt="Task 2">

**Notes on Completing the Task:**
* The task did not specify a required date format, so I chose the format myself.

***
#### Task 3: Formatting Timestamps.

<em>Run the date command again, but this time format the output using YYYYmmdd_HHMMSS (e.g., 20261114_130003 for 1:00:03 PM on November 14, 2026). Refer to the date man page (using man date) for more formatting options. (Press q to exit the man page). Append the formatted output to a file named formatted.txt.</em>
***

**Steps Taken to Complete the Task:**

1. Logged to my github account.
2. Started codespaces.
3. Navigated to data/timestamps directory.
4. First practiced to display the date using the command: date + "%Y%m%d_%H%M%s".
5. I run the command again creating and appending a file 'formatted.txt' and adding the output to that file.
6. Checked that the file existed and last time it was edited using the command 'date -r formatted.txt' (see the picture attached).

<img src="./img/task3.png" alt="Task 3">

***
#### Task 4: Create Timestamped Files

<em>Use the touch command to create an empty file with a name in the YYYYmmdd_HHMMSS.txt format. You can achieve this by embedding your date command in backticks ` into the touch command. You should no longer use redirection (>>) in this step.</em>

**Steps Taken to Complete the Task:**

1. Logged to my github/codespaces account.
2. Navigated to the data/timestamps directory.
3. Run the command: touch 'date + "%Y%m%d_%H%M%s"'.txt
4. The touch command creates a new text file and the 'date + "%Y%m%d_%H%M%s"' sets the name of the file created to the current date & time.
5. Checked the content of the folder timestamps using the ls command if the file was created.


<img src="./img/task4.png" alt="Task 4" style="width: 700px">

**Notes on Completing the Task:**

* 'touch' command is a very useful Linux command, it can create one or multiple empty text files in the same time if needed. I tried to use the command with some other options like:
    - ```touch file1.txt file2.txt file3.txt``` - creating multiple files in the same time.
    - ```touch -c filename``` - prevent the creation of a new file if it does exist.
    - ```touch -a document.txt``` - update only the access time of document.txt.
    - ```touch -m file.txt``` - update only the modification time of the file.

Reference: https://www.serveracademy.com/blog/how-to-use-the-touch-command-in-linux/

***
#### Task 5

- Picture 1

<img src="./img/task5-1.png" alt="Task 5.1" style="width: 700px;"/>


- Picture 2

<img src="./img/task5-2.png" alt="Task 5.2" style="width: 700px">


- Picture 3

<img src="./img/task5-3.png" alt="Task 5.3" style="width: 700px">

### Task 6

- Picture 1

<img src="./img/task6-1.png" alt="Task 6.1" style="width: 700px">

- Picture 2

<img src="./img/task6-2.png" alt="Task 6.2" style="width: 700px">

- Picture 3 - Using 'curl' command.

<img src="./img/task6-3.png" alt="Task 6.3" style="width: 700px">

#### Task 7 

- Picture 1

<img src="./img/task7-1.png" alt="Task 7.1" style="width: 700px">

- Picture 2

<img src="./img/task7-2.png" alt="Task 7.2" style="width: 700px">

- Picture 3 - Using 'curl' command.

<img src="./img/task7-3.png" alt="Task 7.3" style="width: 700px">

***
#### Task 8: Notebook

<em>Create a notebook called weather.ipynb at the root of your repository. In this notebook, write a brief report explaining how you completed Tasks 1 to 7. Provide short descriptions of the commands used in each task and explain their role in completing the tasks.</em>

***
#### Task 9: pandas

<em>In your weather.ipynb notebook, use the pandas function read_json() to load in any one of the weather data files you have downloaded with your script. Examine and summarize the data. Use the information provided data.gov.ie to write a short explanation of what the data set contains.</em>

##### About the dataset:

The dataset holds hourly weather observations for the current day in Athenry, Co. Galway, provided by Met Ã‰ireann. It includes data such as temperature, weather description, wind speed and direction, humidity, rainfall, pressure, and observation time. The dataset is updated continuously in local time, is not quality-controlled, and is available for download in .json and .csv formats. 

Additional details:
- Language: English  
- Geographic coverage: Athenry, with coordinates (-8.8, 53.3) in GeoJSON format  
- Spatial Reference Systems (SRS): WGS 84 (EPSG:4326)  
- Time period: Today  
- High Value Dataset (HVD): Yes, in the Meteorological category
- More information: [Today's Weather Athenry](https://data.gov.ie/dataset/todays-weather-athenry)
***

#### Step 1: Importing the libraries needed for completing the task.

In [7]:
# Importing libraries.
import pandas as pd 
import os
import glob

##### Reading a .json file

For this task I will imported glob and os libraries to use them to read the latest json file downloaded in the /data/weather directory.

In [15]:
# Filepath of the directory containing the JSON files
directory = 'data/weather'

# Find all JSON files in the directory, excluding 'weather' file
json_files = [f for f in glob.glob(os.path.join(directory, '*.json')) if 'weather' not in os.path.basename(f)]

# Check if there are any JSON files in the directory
if json_files:
    # Extract the latest file based on the filename (assumes YYYYmmdd_HHMMSS format)
    latest_file = max(json_files, key=lambda x: os.path.basename(x).split('.')[0])
    
    # Read the contents of the latest JSON file into a Pandas DataFrame
    df = pd.read_json(latest_file)
    
    # Print the name of the latest file for verification
    print(f"Latest file read: {latest_file}")
else:
    # If no JSON files are found, print an appropriate message
    print("No JSON files found in the directory.")

# checking that the dataset is loaded to our frame.
df.head(5)

Latest file read: data/weather\20241215_201219.json

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,11,46n,Light rain,"""Recent Drizzle """,13,-,W,270,98,0.1,1026,Sunday,2024-12-15,00:00
1,Athenry,11,15n,Fog / Mist,"""Mist""",15,-,W,270,99,0.0,1026,Sunday,2024-12-15,01:00
2,Athenry,11,15n,Fog / Mist,"""Mist""",13,-,W,270,99,0.0,1026,Sunday,2024-12-15,02:00
3,Athenry,11,15n,Fog / Mist,"""Mist""",17,-,W,270,99,0.1,1026,Sunday,2024-12-15,03:00
4,Athenry,10,04n,Cloudy,"""Cloudy""",15,-,W,270,99,0.0,1027,Sunday,2024-12-15,04:00

Let's begin by exploring the dataset and examining the column headers to understand the types of recordings contained within.

In [20]:
# Getting information about our DataFrame: number of entries, column names, non-null counts, data types for each column and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   20 non-null     object
 1   temperature            20 non-null     int64
 2   symbol                 20 non-null     object
 3   weatherDescription     20 non-null     object
 4   text                   20 non-null     object
 5   windSpeed              20 non-null     int64
 6   windGust               20 non-null     object
 7   cardinalWindDirection  20 non-null     object
 8   windDirection          20 non-null     int64
 9   humidity               20 non-null     int64
 10  rainfall               20 non-null     float64
 11  pressure               20 non-null     int64
 12  dayName                20 non-null     object
 13  date                   20 non-null     datetime64[ns]
 14  reportTime             20 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 2.5+ KB

In [21]:
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20
mean,10.500000,17.850000,261.00000,97.800000,0.120500,1027.200000,2024-12-15 00:00:00
min,10.000000,13.000000,225.00000,95.000000,0.000000,1026.000000,2024-12-15 00:00:00
25%,10.000000,15.000000,270.00000,97.000000,0.000000,1026.750000,2024-12-15 00:00:00
50%,10.500000,17.000000,270.00000,98.000000,0.100000,1027.000000,2024-12-15 00:00:00
75%,11.000000,20.500000,270.00000,99.000000,0.150000,1028.000000,2024-12-15 00:00:00
max,11.000000,26.000000,270.00000,99.000000,0.400000,1028.000000,2024-12-15 00:00:00
std,0.512989,3.950683,18.46761,1.472556,0.139491,0.833509,NaN

***
### Notes on the project.

- While working on Task 2, I encountered an issue where the images wouldn't display on GitHub. To resolve this, I had to switch the repository's visibility from private to public.

### References:

- Creating files using touch command: https://www.geeksforgeeks.org/touch-command-in-linux-with-examples/
- Displaying a .json file in terminal(bash): https://linuxopsys.com/read-json-file-in-shell-script
- Working with images - resizing: https://stackoverflow.com/questions/41598916/resize-the-image-in-jupyter-notebook-using-markdown